aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
choicelib==0.1.5
colorama==0.4.6
frozenlist==1.7.0
idna==3.10
msgspec==0.19.0
multidict==6.6.4
propcache==0.3.2
psutil==7.1.0
pydantic==2.11.9
pydantic_core==2.33.2
pyTelegramBotAPI==4.29.1
requests==2.32.5
schedule==1.2.2
setuptools==80.9.0
telebot==0.0.5
typing-inspection==0.4.1
typing_extensions==4.15.0
urllib3==2.5.0
vbml==1.1.post1
vkbottle==4.6.0
vkbottle-types==5.199.99.9
wheel==0.45.1
yarl==1.20.1
